html, body, #app{ height: 100%; }
.left { float: left; }
.right { float: right; }
.center { text-align: center; }
.clear { clear: both; }
.flex { display: flex; }
.flex_1 { flex: 1; }

.fade-enter-active, .fade-leave-active {
    transition: all .2s ease;
}
.fade-enter, .fade-leave-active {
    opacity: 0;
}

.el-main header {
    margin-bottom: 20px;
    margin-left: 5px;
}

* {
    margin: 0;
    padding: 0;
}

.table-pre {
    margin-bottom: 10px;
}

.detail-title {
    display: inline-block;
    width: 100px;
    font-weight: bold;
    text-align: right;
    margin-right: 20px;
    margin-bottom: 15px;
}
